In [ ]:
price_1 = 900

In [1]:
from sqlalchemy import create_engine
import os

In [2]:
PG_HOST = os.getenv("PG_HOST", default=None)
PG_PORT = os.getenv("PG_PORT", default=None)
PG_DB = os.getenv("PG_DB", default=None)
PG_USER = os.getenv("PG_USER", default=None)
PG_PWD = os.getenv("PG_PWD", default=None)

print(PG_HOST)

postgres

In [3]:
engine = create_engine(f'postgresql://{PG_USER}:{PG_PWD}@{PG_HOST}:{PG_PORT}/{PG_DB}')

In [4]:
import pandas as pd

In [5]:
data = {'product_name': ['Computer','Tablet','Monitor','Printer'],
        'price': [price_1,300,450,150]
        }

df = pd.DataFrame(data, columns= ['product_name','price'])
print (df)

  product_name  price
0     Computer    900
1       Tablet    300
2      Monitor    450
3      Printer    150

In [8]:
with engine.begin() as connection:
    df.to_sql('products', con=connection, if_exists='append')

In [9]:
engine.execute("SELECT * FROM products").fetchall()

[(0, 'Computer', 900),
 (1, 'Tablet', 300),
 (2, 'Monitor', 450),
 (3, 'Printer', 150)]

In [11]:
df_new = pd.read_sql_table('products', engine)

In [12]:
print(df_new)

   index product_name  price
0      0     Computer    900
1      1       Tablet    300
2      2      Monitor    450
3      3      Printer    150